@model Web.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Finances Management System";
}
<div class="col-lg-6 mb-4">
    <div class="card bg-dark">
        <h5 class="card-header bg-black text-light">Current Values</h5>
        <div class="card-body bg-dark text-light">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title">Total Income</h4> 
                    <p class="card-text">@Model.TotalIncome</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="card-title">Total Expanse</h4>
                    <p class="card-text">@Model.TotalExpanse</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="row text-light mt-3 mb-3">Wallets</h2>
    <div class="row">
        @foreach (var item in Model.Wallets)
        {

            <div class="col-lg-6">
                <div class="card bg-dark mb-3">
                    <div class="col-lg-12 bg-black text-light">
                        <h6 class="card-header">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h6>
                    </div>
                    <div class="card-body bg-dark text-light">
                        <div class="col-lg-12">
                            <h6 class="card-title">Current Value</h6>
                            @Html.DisplayFor(modelItem => item.CurrentValue)
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<div class="col-lg-6">
    @Html.ActionLink("Create Entrance", "Create", "Entrance", null, new { @class = "btn btn-secondary bg-black btn-lg btn-block" })

    <br />

    <table class="table bg-dark text-light">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Value</th>
                <th>Category</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Entrances.Count() > 0 && Model.Entrances.Any())
        {
            <tbody>
                @foreach (var item in Model.Entrances)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @{
                            switch (item.Type)
                            {
                                case 1:
                                    @Html.Label("", "Income", htmlAttributes: new { @class = "badge badge-pill badge-success" });
                                    break;
                                case 2:
                                    @Html.Label("", "Expanse", htmlAttributes: new { @class = "badge badge-pill badge-danger" });
                                    break;
                                default:
                                    @Html.Label("", "Unknown", htmlAttributes: new { @class = "badge badge-pill badge-secondary" });
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.Label("", item.Category.Name, htmlAttributes: new { @class = "badge badge-pill badge-primary" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Entrance", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-secondary bg-black btn-sm" })
                    </td>
                </tr>
                }
            </tbody>
        }
    </table>
</div>