@model IEnumerable<Domain.Dtos.Entrance.EntranceResultDto>

@{
    ViewData["Title"] = "Finances Management System";
}

<div class="col-lg-6">
    <div class="row mb-3">
        <h2>Welcome Back, @User.Identity.Name</h2>
    </div>

    <div class="row card m-3">
        <h5 class="card-header">Current Values</h5>
        <div class="card-body">
            <div class="row">
                <canvas id="totalIncomesExpansesChart"></canvas>
            </div>
        </div>
    </div>
    
    <h2 class="row m-3">Wallets</h2>

    <div class="row" id="divWallets"></div>
</div>

<div class="col-lg-6">
    @Html.ActionLink("Create Entrance", "Create", "Entrance", null, new { @class = "btn btn-primary btn-sm btn-block mb-3 mt-3 col-sm-12" })

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
                <th scope="col">Category</th>
                <th scope="col">Created At</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @if (Model.Count() > 0 && Model.Any())
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            @switch (item.Type)
                            {
                                case 1:
                                    @Html.Label("", "Income", htmlAttributes: new { @class = "badge bg-success" });
                                    break;
                                case 2:
                                    @Html.Label("", "Expanse", htmlAttributes: new { @class = "badge bg-danger" });
                                    break;
                                default:
                                    @Html.Label("", "Unknown", htmlAttributes: new { @class = "badge bg-warning" });
                                    break;
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                        <td>@Html.Label("", item.Category.Name, htmlAttributes: new { @class = "badge bg-primary" })</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Entrance", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ChartJsScriptsPartial");}
    <script src="~/js/home.js"></script>
}
