@model Web.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Finnaces Management System";
}

<style>
    .card {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="col-lg-6 mb-4">
    <div class="card bg-light">
        <h5 class="card-header">Current Values</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title">Total Income</h4> 
                    <p class="card-text">@Model.TotalIncome</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="card-title">Total Expanse</h4>
                    <p class="card-text">@Model.TotalExpanse</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    @Html.ActionLink("Create Entrace", "Create", "Entrace", null, new { @class = "btn btn-primary btn-sm btn-block" })

    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Value</th>
                <th>Category</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Entraces.Count() > 0 && Model.Entraces.Any())
        {
            <tbody>
                @foreach (var item in Model.Entraces)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @{
                            switch (item.Type)
                            {
                                case 1:
                                    @Html.Label("", "Income", htmlAttributes: new { @class = "badge badge-pill badge-success" });
                                    break;
                                case 2:
                                    @Html.Label("", "Expanse", htmlAttributes: new { @class = "badge badge-pill badge-danger" });
                                    break;
                                default:
                                    @Html.Label("", "Unknown", htmlAttributes: new { @class = "badge badge-pill badge-secondary" });
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.Label("", item.Category.Name, htmlAttributes: new { @class = "badge badge-pill badge-primary" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Entrace", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
                }
            </tbody>
        }
    </table>
</div>