@model Web.ViewModels.Entrace.EntraceUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Entrace.Id" class="control-label"></label>
                <input asp-for="@Model.Entrace.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="@Model.Entrace.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Entrace.Description" class="control-label"></label>
                <textarea asp-for="@Model.Entrace.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Entrace.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Entrace.Type" class="control-label"></label>
                <input asp-for="@Model.Entrace.Type" class="form-control" />
                <span asp-validation-for="@Model.Entrace.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Entrace.Observation" class="control-label"></label>
                <textarea asp-for="@Model.Entrace.Observation" class="form-control"></textarea>
                <span asp-validation-for="@Model.Entrace.Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Entrace.Value" class="control-label"></label>
                <input asp-for="@Model.Entrace.Value" class="form-control" />
                <span asp-validation-for="@Model.Entrace.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(Model => @Model.Entrace.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="@Model.Entrace.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(Model => @Model.Entrace.WalletId, new SelectList(@Model.Wallets, "Id", "Name"), new { @class = "form-control" })
                <span asp-validation-for="@Model.Entrace.WalletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn default-button btn-sm" />
                @Html.ActionLink("Delete", "Delete", new { id = @Model.Entrace.Id }, htmlAttributes: new { @class = "btn default-button btn-sm" })
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn default-button btn-sm" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
