@model Domain.ViewModels.WalletCreateViewModel

@{
    ViewData["Title"] = "Create Wallet";
}

<div class="col-lg-12">
    <form asp-action="Create" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Wallet.Name" class="control-label"></label>
            <input asp-for="@Model.Wallet.Name" class="form-control" />
            <span asp-validation-for="@Model.Wallet.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Wallet.Description" class="control-label"></label>
            <textarea asp-for="@Model.Wallet.Description" class="form-control"></textarea>
            <span asp-validation-for="@Model.Wallet.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Wallet.WalletTypeId" class="control-label"></label>
            @Html.DropDownListFor(Model => @Model.Wallet.WalletTypeId, new SelectList(Model.WalletTypes, "Id", "Name"), new { @class = "form-control" })
            <span asp-validation-for="@Model.Wallet.WalletTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Wallet.DueDate" class="control-label"></label>
            <input asp-for="@Model.Wallet.DueDate" class="form-control" type="date"/>
            <span asp-validation-for="@Model.Wallet.DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Wallet.CloseDate" class="control-label"></label>
            <input asp-for="@Model.Wallet.CloseDate" class="form-control" type="date"/>
            <span asp-validation-for="@Model.Wallet.CloseDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success btn-sm" />
            @Html.ActionLink("Back to List", "Index", "Wallet", null, new { @class = "btn btn-secondary btn-sm" })
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
